@use "vars";
@use "global";

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .auth-field {
        background-color: vars.$isabelline;
        border: 1px solid vars.$outer-space;
        border-radius: 5px;
        box-shadow: 1px 1px 4px vars.$smoky-black;
        padding: 10px;
        margin: 5px;
    }

    .disclaimer {
        margin-top: 10px;
        font-size: 1rem;
    }
}